{% extends 'base.html' %}
{% block content %}


      <!--#banner-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                    <div class="banner">
                        <div class="banner-text">
                            <h1>ToDo</h1>
                        </div>
                    </div>
            </div>
        </div>
    </div>

<!--Task form-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="p-3 shadow" method="post">
                {% csrf_token %}
                <br>

                <div class="form-group">
                     <input type="text" class="form-control" name="task" placeholder="enter the task">
                </div>
                <br>

                <div class="form-group">
                    <input type="text" class="form-control" name="priority" placeholder="enter task priority">
                </div>
                <br>

                <div class="form-group">
                    <input type="date" class="form-control" name="date" placeholder="enter task date">
                </div>
                <br>

                <input type="submit" class="btn btn-success">


            </form>
        </div>

<!--        #task card -->

        <div class="col-md-6">
            <h4>Task to be Completed.</h4>

            {% for i in task1 %}

            <div class="shadow card">

                <div class="card-body">

                    <h5 class="card-title">{{i.name}}</h5>

                    <p><b>{{i.priority}}</b></p>
                    <p><b>{{i.date}}</b></p>

                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">Update</a>
                </div>

            </div>

            <br>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}